@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    /* background: #333; */
}

/* Start of navbar */
.navbar {
    @apply flex justify-between flex-row py-8 w-4/5 mx-auto absolute top-0 left-0 right-0 ;
}

.nav-left-part,
.nav-right-part {
    @apply font-shantell-sans;
}

.nav-left-part h1 {
    @apply text-3xl font-medium;
}

.nav-right-part {
    @apply flex items-center flex-row;
}

.nav-right-part ul {
    @apply flex justify-center flex-row;
}

.nav-right-part ul li {
    @apply mr-8 transition tracking-wider leading-5 text-white;
}

.nav-right-part ul li:hover {
    @apply underline;
}
/* End of navbar */

/* Start of hero section */
.hero-section {
    @apply flex flex-col justify-center items-center min-w-full mx-auto min-h-[90vh] h-screen;
}

.hero-section {
    background: url("/img21.jpg") center no-repeat fixed;
    background-size: cover;
}

.hero-title h1 {
    @apply text-7xl font-bold text-right tracking-widest font-poppins text-white w-1/2 float-right  mr-[10%] leading-[85px];
}

.hero-title h1 span {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-stroke: 1px rgb(255, 255, 255);
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* End of hero section */
